<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.batch.persistence.database.v1.imports.SelectMigrationAffiliationMapper">
    <select id="selectMigrationAffiliation"
            resultType="home.helper.batch.dto.v1.imports.ImportMigrationAffiliationOutput">
        select *
        from public.affiliation
        order by
            group_id,
            user_id
    </select>
</mapper>