<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.batch.persistence.database.v1_production.imports.SelectMigrationApplicationMapper">
    <select id="selectMigrationApplication"
            resultType="home.helper.batch.dto.v1.imports.ImportMigrationApplicationOutput">
        select *
        from public.Application
        order by
        application_id
    </select>
</mapper>