<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.batch.persistence.database.v1.export.ExportHouseholdCategoryMapper">
    <select id="fetchHouseholdCategory"
            resultType="home.helper.batch.dto.v1.export.ExportHouseholdCategoryInput">
        select
            ci.id           as category_id,
            c.category_name as name,
            cig.id          as genre_id,
            c.valid_flag,
            c.display_order,
            cigr.id         as group_id
        from
            public.category c
                left outer join public.conv_id ci
                    on ci.table_name = 'category' and ci.current_id = c.category_id
                left outer join public.conv_id cig
                    on cig.table_name = 'genre' and cig.current_id = c.genre_id
                left outer join public.conv_id cigr
                    on cigr.table_name = 'group' and cigr.current_id = c.group_id
    </select>
</mapper>