
.totalPoint {
  font-size: 50px;
  margin: 5px;
  justify-content: flex-end;
}

.point {
  width: 4em;
  justify-content: end;
  margin-right: 20px;
}

.unit {
  margin-right: 20px;
}

.title {
  font-size: 50px;
  justify-content: start;
}

.message{
  font-size: 30px;
}