<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.batch.persistence.database.v1production.imports.SelectMigrationHelperKidParentMapper">
    <select id="selectMigrationHelperKidParent"
            resultType="home.helper.batch.dto.v1.imports.ImportMigrationHelperKidParentOutput">
        select *
        from helper_kids.helper_kid_parent
        order by
            helper_kid_parent_id
    </select>
</mapper>