<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.api.persistence.database.mysql.user.search.SearchUserMapper">

    <select id="search"
            parameterType="home.helper.api.persistence.database.mysql.user.search.SearchUserParam"
            resultType="home.helper.api.persistence.database.mysql.user.search.SearchUserResult">
        select
            u.id,
            u.name,
            u.name_suffix,
            up.point,
            up.last_help_datetime
        from
            m_user u
            left outer join user_point up on u.id = up.user_id
        <where>
            <if test="id">
                and u.id = #{id}
            </if>
        </where>
        order by
            u.id
    </select>
</mapper>