<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.batch.persistence.database.table.DbUserMapper">
  <resultMap id="BaseResultMap" type="home.helper.batch.persistence.database.table.DbUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, display_order, email
  </sql>
  <select id="selectByExample" parameterType="home.helper.batch.persistence.database.table.DbUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from public.user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user (user_id, user_name, display_order, 
      email)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    set user_name = #{userName,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="home.helper.batch.persistence.database.table.DbUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, display_order, email
  </sql>
  <select id="selectByExample" parameterType="home.helper.batch.persistence.database.table.DbUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from public.user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user (user_id, user_name, display_order, 
      email)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    set user_name = #{userName,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="home.helper.batch.persistence.database.table.DbUser">
    <id column="user_id" jdbcType="varchar" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, display_order, email
  </sql>
  <select id="selectByExample" parameterType="home.helper.batch.persistence.database.table.DbUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.user
    where user_id = #{userId,jdbcType=varchar}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from public.user
    where user_id = #{userId,jdbcType=varchar}
  </delete>
  <insert id="insert" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user (user_id, user_name, display_order, 
      email)
    values (#{userId,jdbcType=varchar}, #{userName,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=varchar},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=varchar}
  </update>
  <update id="updateByPrimaryKey" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    set user_name = #{userName,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=varchar}
  </update>
  <resultMap id="BaseResultMap" type="home.helper.batch.persistence.database.table.DbUser">
    <id column="user_id" jdbcType="varchar" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, display_order, email
  </sql>
  <select id="selectByExample" parameterType="home.helper.batch.persistence.database.table.DbUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.user
    where user_id = #{userId,jdbcType=varchar}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from public.user
    where user_id = #{userId,jdbcType=varchar}
  </delete>
  <insert id="insert" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user (user_id, user_name, display_order, 
      email)
    values (#{userId,jdbcType=varchar}, #{userName,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=varchar},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=varchar}
  </update>
  <update id="updateByPrimaryKey" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    set user_name = #{userName,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=varchar}
  </update>
  <resultMap id="BaseResultMap" type="home.helper.batch.persistence.database.table.DbUser">
    <id column="user_id" jdbcType="OTHER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, user_name, display_order, email
  </sql>
  <select id="selectByExample" parameterType="home.helper.batch.persistence.database.table.DbUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.user
    where user_id = #{userId,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
    delete from public.user
    where user_id = #{userId,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user (user_id, user_name, display_order, 
      email)
    values (#{userId,jdbcType=OTHER}, #{userName,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    insert into public.user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=OTHER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="home.helper.batch.persistence.database.table.DbUser">
    update public.user
    set user_name = #{userName,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=OTHER}
  </update>
    <resultMap id="BaseResultMap" type="home.helper.batch.persistence.database.table.DbUser">
        <id column="user_id" jdbcType="OTHER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>
    <sql id="Base_Column_List">
        user_id, user_name, display_order, email
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from public.user
        where user_id = #{userId,jdbcType=OTHER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
        delete
        from public.user
        where
            user_id = #{userId,jdbcType=OTHER}
    </delete>
    <insert id="insert" parameterType="home.helper.batch.persistence.database.table.DbUser">
        insert into public.user (user_id, user_name, display_order,
                                 email)
        values (#{userId,jdbcType=OTHER}, #{userName,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER},
                #{email,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
        insert into public.user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="displayOrder != null">
                display_order,
            </if>
            <if test="email != null">
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=OTHER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="displayOrder != null">
                #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="home.helper.batch.persistence.database.table.DbUser">
        update public.user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="displayOrder != null">
                display_order = #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=OTHER}
    </update>
    <update id="updateByPrimaryKey" parameterType="home.helper.batch.persistence.database.table.DbUser">
        update public.user
        set user_name     = #{userName,jdbcType=VARCHAR},
            display_order = #{displayOrder,jdbcType=INTEGER},
            email         = #{email,jdbcType=VARCHAR}
        where
            user_id = #{userId,jdbcType=OTHER}
    </update>
</mapper>