<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.api.persistence.database.mysql.help_item.search.SearchHelpItemMapper">

    <select id="search"
            parameterType="home.helper.api.persistence.database.mysql.help_item.search.SearchHelpItemParam"
            resultType="home.helper.api.persistence.database.mysql.table.DbMHelpItemRecord">
        select distinct
            hi.id,
            hi.name,
            hi.point,
            hi.memo
        from
            m_help_item hi
            left outer join help_point_earned_detail hped
                on hi.id = hped.help_item_id
        <where>
            <if test="id != null">
                and hi.id = #{id, jdbcType=VARCHAR}
            </if>
            <if test="earnedAchievementId != null">
                and hped.earned_achievement_id = #{earnedAchievementId, jdbcType=VARCHAR}
            </if>
        </where>
        order by
            hi.id
    </select>
</mapper>