<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home.helper.api.persistence.database.mysql.help_point.search.SearchHelpPointMapper">

    <resultMap id="searchResultMap"
               type="home.helper.api.persistence.database.mysql.help_point.search.SearchHelpPointResult">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="earned_datetime" property="earnedDate"/>
        <result column="earned_point" property="earnedPoint"/>
        <collection property="detailList"
                    ofType="home.helper.api.persistence.database.mysql.help_point.search.HelpItemResult">
            <id column="help_item_id" property="itemId"/>
            <result column="name" property="itemName"/>
            <result column="point" property="helpPoint"/>
            <result column="memo" property="memo"/>
        </collection>
    </resultMap>

    <select id="search"
            parameterType="home.helper.api.persistence.database.mysql.help_point.search.SearchHelpPointParam"
            resultMap="searchResultMap">
        select
            achi.id,
            achi.user_id,
            achi.earned_datetime,
            achi.earned_point,
            hped.help_item_id,
            mhi.name,
            mhi.point,
            mhi.memo
        from
            help_point_earned_achievement achi
            left outer join help_point_earned_detail hped
            on achi.id = hped.earned_achievement_id
            left outer join m_help_item mhi
            on hped.help_item_id = mhi.id
        order by
            achi.earned_datetime,
            achi.id,
            hped.help_item_id
    </select>
</mapper>